
.home {
    position: relative;
    width: 98.8vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* justify-content: flex-start;  */
    /* padding-left: 5px;  */
    text-align: left;
}

.landingPageImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
 }

.landingInfo{
    position: relative;
    /* z-index: 2; */
    max-width: 600px; 
    /* color: white; */
    margin-left:30px ;
}

.landingInfo h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
}

.landingInfo p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 500px;
}
